@inherits LayoutComponentBase

<BackgroundLayout />

<div class="fx-shell">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="fx-main">
        <TopBar />
        <article class="fx-content content px-2">
            <InstallAppPrompt />
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
